#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}
#text{
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  color: black;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  border-style: solid;
  border-width: 100px;
  border-color: white;
  border-radius: 10px;
}